.gallery__photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
  margin: auto;

}